@model JUSONITELEC1CLAB2.Models.Student

<div class="text-center">
    <h1 class="display-4">Edit Student</h1>
</div>

<form asp-action="EditStudent" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">First Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Course">Course</label>
        <select asp-for="Course" class="form-control">
            @foreach (var courseOption in Enum.GetValues(typeof(JUSONITELEC1CLAB2.Models.Course)))
            {
                <option value="@courseOption">@courseOption</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="DateEnrolled">Enrollment Date</label> DateEnrolled
        <input type="date" asp-for="DateEnrolled" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update Student</button>
</form>
