<style>
    table.table {
        border: 1px solid black;
    }

        table.table th {
            font-size: 20px;
            font-family: verdana, sans-serif;
            border: 1px solid black;
        }

        table.table td {
            font-family: verdana, sans-serif;
            border: 1px solid black;
        }
</style>

@model Student;

<div class="text-center">
    <h1 class="display-4">Student Details</h1>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Course</th>
        <td>@Model.Course</td>
    </tr>
    <tr>
        <th>Enrollment Date</th>
        <td>@Model.DateEnrolled</td>
    </tr>
</table>
